<div id="content">
   <!-- Testmonials Block -->
   <section id="testmonials" class="e-block-short">
      <div class="container-fluid padding-side-50">
         <div>
            <h1 class="font-accident-two-normal e-uppercase text-center text-danger">Editing Profile Information</h1>
            <div class="e-divider-1"></div>
            <%= simple_form_for(@user) do |f| %>
              <% if @user.errors.any? %>
              <div class="alert alert-danger">
                <div class="center-text" id="error_explanation">
                  <h3><%= pluralize(@user.errors.count, "error") %> prohibited account from being saved:</h3>
                  <ul>
                  <% @user.errors.full_messages.each do |msg| %>
                    <li class="text-danger"><%= msg %></li>
                  <% end %>
                  </ul>
                </div>
              </div>
              <% end %>
                <div class="col-lg-5">
                  <div class="bs-example">
                    <input type="hidden"  class="base_url">
                    <div class="form-group">
                      <label class="col-sm-4 control-label" align="right">First Name</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="inputEmail3" name="user[first_name]" value="<%=@user.first_name%>" required><br>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-4 control-label" align="right">Last Name</label>
                      <div class="col-sm-8">
                       <input type="text" class="form-control" id="inputPassword3" name="user[last_name]" value="<%=@user.last_name%>" required><br>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-4 control-label" align="right">Username</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" name="user[username]" value="<%=@user.username%>" required><br>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-4" align="right">Date of Birth</label>
                      <div class="col-sm-8">
                          <input type="date" class="form-control" name="user[dob]" value="<%=@user.dob%>" required><br>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-4 control-label" align="right">Gender</label>
                      <div class="col-sm-8">
                        <select name="user[gender]" class="form-control" id="form-validation-field-0" value="<%=@user.gender%>" required>
                          <option value=" ">Choose One</option>
                          <option value="male">Male</option>
                          <option value="female">Female</option>
                        </select><br>

                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-4 control-label" align="right">Bilingual?</label>
                      <div class="col-sm-4">
                        <select name="user[language_one]" class="form-control" id="form-validation-field-1" value="<%=@user.language_one%>">
                          <option value="none">Choose One</option>
                          <option value="English">English</option>
                          <option value="Spanish">Spanish</option>
                          <option value="French">French</option>
                          <option value="Portuguese">Portuguese</option>
                          <option value="German">German</option>
                          <option value="Italian">Italian</option>
                          <option value="Japanese">Japanese</option>
                          <option value="Chinese">Chinese</option>
                          <option value="Korean">Korean</option>
                        </select>
                      </div>
                      <div class="col-sm-4">
                        <select name="user[language_two]" class="form-control" value="<%=@user.language_two%>">
                          <option value="none">Choose One</option>
                          <option value="English">English</option>
                          <option value="Spanish">Spanish</option>
                          <option value="French">French</option>
                          <option value="Portuguese">Portuguese</option>
                          <option value="German">German</option>
                          <option value="Italian">Italian</option>
                          <option value="Japanese">Japanese</option>
                          <option value="Chinese">Chinese</option>
                          <option value="Korean">Korean</option>
                        </select><br>
                      </div>
                    </div>


                    <div class="form-group">
                      <label class="col-sm-4 control-label" align="right">Height</label>
                      <div class="col-sm-8">
                        <input type="text" name="user[height]" class="form-control" value="<%=@user.height%>" required><br>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-4 control-label" align="right">Age</label>
                      <div class="col-sm-8">
                        <input type="number" name="user[age]" class="form-control" value="<%=@user.age%>" required><br>
                      </div>
                    </div>

                    <div>
                      <div class="col-sm-12">
                        <h3 class="text-center col-sm-offset-4 col-sm-8 text-danger">Measurements</h3>
                      </div>

                      <div class="form-group">
                        <label class="col-sm-4 control-label" align="right">Shirt Size</label>
                        <div class="col-sm-8">
                          <select name="user[shirt_size]" class="form-control" value="<%=@user.shirt_size%>"required>
                            <option value="">Select Size</option>
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                            <option value="XXL">XXL</option>
                          </select><br>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-sm-4 form-label" align="right">Dress Size</label>
                        <div class="col-sm-8">
                          <select name="user[dress_size]" class="form-control" value="<%=@user.dress_size%>" required>
                            <option value=" ">Select Size</option>
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                            <option value="XXL">XXL</option>
                          </select><br>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-sm-4 form-label" align="right">Pant Size</label>
                        <div class="col-sm-8">
                          <input name="user[pant_size]" type="number" class="form-control" value="<%=@user.pant_size%>" required><br>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-sm-4 control-label" align="right">Shoe Size</label>
                        <div class="col-sm-8">
                          <input name="user[shoe_size]" type="number" class="form-control" value="<%=@user.shoe_size%>" required><br>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

                <div class="col-lg-5">
                  <div class="bs-example">

                    <div class="form-group">
                      <label class="col-sm-4 control-label" for="personal-site" align="right">Personal Website</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" name="user[website]" id="personal-site" value="<%=@user.website%>"><br>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-4 control-label" align="right">Address</label>
                      <div class="col-sm-8">
                        <input class="form-control" name="user[address]" placeholder="<%=@user.address%>" value="<%=@user.address%>" required><br>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-4 control-label" align="right">City</label>
                      <div class="col-sm-8">
                        <input type="text" name="user[city]" class="form-control" value="<%=@user.city%>" required><br>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-4 control-label" align="right">State</label>
                      <div class="col-sm-8">
                        <select name="user[state]" class="form-control" value="<%=@user.state%>" required>
                          <option value=" ">Select State</option>
                          <option value="Alabama">Alabama</option><option value="Alaska">Alaska</option><option value="Arizona">Arizona</option><option value="Arkansas">Arkansas</option><option value="California">California</option><option value="Colorado">Colorado</option><option value="Connecticut">Connecticut</option><option value="Delaware">Delaware</option><option value="District of Columbia">District of Columbia</option><option value="Florida">Florida</option><option value="Georgia">Georgia</option><option value="Hawaii">Hawaii</option><option value="Idaho">Idaho</option><option value="Illinois">Illinois</option><option value="Indiana">Indiana</option><option value="Iowa">Iowa</option><option value="Kansas">Kansas</option><option value="Kentucky">Kentucky</option><option value="Louisiana">Louisiana</option><option value="Maine">Maine</option><option value="Maryland">Maryland</option><option value="Massachusetts">Massachusetts</option><option value="Michigan">Michigan</option><option value="Minnesota">Minnesota</option><option value="Mississippi">Mississippi</option><option value="Missouri">Missouri</option><option value="Montana">Montana</option><option value="Nebraska">Nebraska</option><option value="Nevada">Nevada</option><option value="New Hampshire">New Hampshire</option><option value="New Jersey">New Jersey</option><option value="New Mexico">New Mexico</option><option value="New York">New York</option><option value="North Carolina">North Carolina</option><option value="North Dakota">North Dakota</option><option value="Ohio">Ohio</option><option value="Oklahoma">Oklahoma</option><option value="Oregon">Oregon</option><option value="Pennsylvania">Pennsylvania</option><option value="Rhode Island">Rhode Island</option><option value="South Carolina">South Carolina</option><option value="South Dakota">South Dakota</option><option value="Tennessee">Tennessee</option><option value="Texas">Texas</option><option value="Utah">Utah</option><option value="Vermont">Vermont</option><option value="Virginia">Virginia</option><option value="Washington">Washington</option><option value="West Virginia">West Virginia</option><option value="Wisconsin">Wisconsin</option><option value="Wyoming">Wyoming</option>                </select><br>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-4 control-label" align="right">Zip Code</label>
                      <div class="col-sm-8">
                        <input type="number" name="user[zip_code]" class="form-control" value="<%=@user.zip_code%>" required><br>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-4 control-label" align="right">Cell Phone</label>
                      <div class="col-sm-8">
                        <input type="text" name="user[phone_number]" class="form-control bfh-phone" data-country="US" value="<%=@user.phone_number%>"required><br>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" class="btn btn-danger" value="Submit" >
                      </div>
                    </div>

                  </div>
                </div>
              <!-- </form> -->
            <% end %>
         </div>
         <div class="e-divider-8"></div>
      </div>
   </section> <!-- /Testmonials Block -->
</div>

