<div id="content">
   <!-- Testmonials Block -->
   <section id="testmonials" class="e-block-short">
      <div class="container-fluid padding-side-50">
         <div>
            <h1 class="font-accident-two-normal e-uppercase text-center text-danger">Edit Login Information</h1>
            <div class="e-divider-1"></div>
            <% if @user.errors.any? %>
              <div class="alert alert-danger">
                <div class="center-text" id="error_explanation">
                  <h4><%= pluralize(@user.errors.count, "error") %> prevented this record from being saved:</h4>
                  <ul>
                    <% @user.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
            <% end %>
            <%= form_for :user,  url: {action: "update_login", id: @user } do |f| %>
                <div class="col-lg-5">
                  <div class="bs-example">
                    <input type="hidden"  class="base_url">

                      <div class="form-group">
                        <label class="col-sm-4 control-label" align="right">Email Address</label>
                        <div class="col-sm-8">
                          <input type="email" name="user[email]" value="<%=@user.email%>" class="form-control" required><br>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-sm-4 control-label" align="right">Password</label>
                        <div class="col-sm-8">
                          <input id="password" type="password" placeholder="Password" name="user[password]" class="form-control" required><br>
                        </div>
                      </div>

                    <div class="form-group">
                      <label class="col-sm-4 control-label" align="right">Confirm Password</label>
                      <div class="col-sm-8">
                        <input id="confirm_password" type="password" placeholder="Confirm Password" class="form-control"><br>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <%= f.submit 'Submit', class: "btn btn-danger" %>
                        <!-- <input type="submit" class="btn btn-danger" value="Submit" > -->
                      </div>
                    </div>

                  </div>
                </div>
            <% end %>
         </div>
         <div class="e-divider-8"></div>
      </div>
   </section> <!-- /Testmonials Block -->
</div>

