<% if session[:user_id] == nil || @user.email != ENV['ADMIN_EMAIL_ONE'] %>
  <script type="text/javascript">
    window.location.href="/";
  </script>
<% end %>

<!-- Hero Image -->
 <section id="portfolio-hero-image">
    <div class="layer"></div>
    <div class="container-fluid hero-wrapper">
       <div class="row text-right">
          <div class="col-md-12">
             <div class="hero-text">
                <h2 class="font-accident-two-normal">The Girls</h2>
                <p class="font-accident-two-normal e-uppercase letter-spacing-03">
                   Click on an image to see a girl's information.
                </p>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- / Hero Image -->

 <div class="container">
    <div class="row">
        <% @users.each do |user| %>
            <div class="grid-item posters misc col-lg-3 col-md-4 col-xs-6 thumb">
                  <figure class="effect-goliath boxxed">
                    <img class="img-responsive" src=<%=user.photo_one.url%> alt="">
                    <figcaption>
                       <div class="fig-description">
                          <h3><%= user.first_name %> <%= user.last_name %></h3>
                          <p><strong><%= user.email %></strong></p>
                       </div>
                       <a href="/users/<%=user.id%>">View more</a>
                    </figcaption>
                  </figure>
            </div>
        <% end %>
    </div>
</div>

<br><br><br><br><br>

<p id="notice"><%= notice %></p>

