<div id="content">
   <!-- Testmonials Block -->
   <section id="testmonials" class="e-block-short">
      <div class="container-fluid padding-side-50">
         <div>
            <h1 class="font-accident-two-normal e-uppercase text-center text-danger">Sign Up!</h1>
             <h4 class="center-text" >Have an account?  <a href="/login"><b>Log in!</b></a></h4>
            <div class="e-divider-1"></div>
            <% if flash.alert %>
              <div class="alert alert-danger">
                <div class="center-text" id="error_explanation">
                  <ul>
                    <li class="text-danger"><h1><%= flash.alert %></h1></li>
                  </ul>
                </div>
              </div>
            <% end %>
            <%= form_for(@user, multipart: true) do |f| %>
              <h5> <strong>(*)</strong> required</h5>
                <div class="col-lg-5">
                  <div class="bs-example">
                    <input type="hidden"  class="base_url">
                    <div class="form-group">
                      <label class="col-sm-4 control-label" align="right">* First Name</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="inputEmail3" name="user[first_name]" value="" required><br>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-4 control-label" align="right">* Last Name</label>
                      <div class="col-sm-8">
                       <input type="text" class="form-control" id="inputPassword3" name="user[last_name]" value="" required><br>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-4 control-label" align="right">* Username</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" name="user[username]" value="" required><br>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-4" align="right">* Date of Birth</label>
                      <div class="col-sm-8">
                          <input type="date" class="form-control" name="user[dob]" required><br>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-4 control-label" align="right">* Gender</label>
                      <div class="col-sm-8">
                        <select name="user[gender]" class="form-control" id="form-validation-field-0"  required>
                          <option value=" ">Choose One</option>
                          <option value="male">Male</option>
                          <option value="female">Female</option>
                        </select><br>

                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-4 control-label" align="right">Bilingual?</label>
                      <div class="col-sm-4">
                        <select name="user[language_one]" class="form-control" id="form-validation-field-1">
                          <option value="none">Choose One</option>
                          <option value="English">English</option>
                          <option value="Spanish">Spanish</option>
                          <option value="French">French</option>
                          <option value="Portuguese">Portuguese</option>
                          <option value="German">German</option>
                          <option value="Italian">Italian</option>
                          <option value="Japanese">Japanese</option>
                          <option value="Chinese">Chinese</option>
                          <option value="Korean">Korean</option>
                        </select>
                      </div>
                      <div class="col-sm-4">
                        <select name="user[language_two]" class="form-control">
                          <option value="none">Choose One</option>
                          <option value="English">English</option>
                          <option value="Spanish">Spanish</option>
                          <option value="French">French</option>
                          <option value="Portuguese">Portuguese</option>
                          <option value="German">German</option>
                          <option value="Italian">Italian</option>
                          <option value="Japanese">Japanese</option>
                          <option value="Chinese">Chinese</option>
                          <option value="Korean">Korean</option>
                        </select><br>
                      </div>
                    </div>


                    <div class="form-group">
                      <label class="col-sm-4 control-label" align="right">* Height</label>
                      <div class="col-sm-8">
                        <input type="text" name="user[height]" class="form-control" value="" required><br>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-4 control-label" align="right">* Age</label>
                      <div class="col-sm-8">
                        <input type="number" name="user[age]" class="form-control" value="" required><br>
                      </div>
                    </div>

                    <div>
                      <div class="col-sm-12">
                        <h3 class="text-center col-sm-offset-4 col-sm-8 text-danger">Measurements</h3>
                      </div>

                      <div class="form-group">
                        <label class="col-sm-4 control-label" align="right">* Shirt Size</label>
                        <div class="col-sm-8">
                          <select name="user[shirt_size]" class="form-control" required>
                            <option value="">Select Size</option>
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                            <option value="XXL">XXL</option>
                          </select><br>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-sm-4 form-label" align="right">* Dress Size</label>
                        <div class="col-sm-8">
                          <select name="user[dress_size]" class="form-control" required>
                            <option value=" ">Select Size</option>
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                            <option value="XXL">XXL</option>
                          </select><br>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-sm-4 form-label" align="right">* Pant Size</label>
                        <div class="col-sm-8">
                          <input name="user[pant_size]" type="number" class="form-control" required><br>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-sm-4 control-label" align="right">* Shoe Size</label>
                        <div class="col-sm-8">
                          <input name="user[shoe_size]" type="number" class="form-control" value="" required><br>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

                <div class="col-lg-5">
                  <div class="bs-example">

                    <div class="form-group">
                      <label class="col-sm-4 control-label" for="personal-site" align="right">Personal Website</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" name="user[website]" id="personal-site" value=""><br>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-4 control-label" for="service-provider" align="right">Resume</label>
                      <div class="col-sm-8">
                        <input style="text-indent: 0px" name="user[resume]" type="file"><br>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-4 control-label" align="right">* Address</label>
                      <div class="col-sm-8">
                        <input name="user[address]" class="form-control" required></input><br>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-4 control-label" align="right">* City</label>
                      <div class="col-sm-8">
                        <input type="text" name="user[city]" class="form-control" value="" required><br>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-4 control-label" align="right">* State</label>
                      <div class="col-sm-8">
                        <select name="user[state]" class="form-control" value="" required>
                          <option value=" ">Select State</option>
                          <option value="Alabama">Alabama</option><option value="Alaska">Alaska</option><option value="Arizona">Arizona</option><option value="Arkansas">Arkansas</option><option value="California">California</option><option value="Colorado">Colorado</option><option value="Connecticut">Connecticut</option><option value="Delaware">Delaware</option><option value="District of Columbia">District of Columbia</option><option value="Florida">Florida</option><option value="Georgia">Georgia</option><option value="Hawaii">Hawaii</option><option value="Idaho">Idaho</option><option value="Illinois">Illinois</option><option value="Indiana">Indiana</option><option value="Iowa">Iowa</option><option value="Kansas">Kansas</option><option value="Kentucky">Kentucky</option><option value="Louisiana">Louisiana</option><option value="Maine">Maine</option><option value="Maryland">Maryland</option><option value="Massachusetts">Massachusetts</option><option value="Michigan">Michigan</option><option value="Minnesota">Minnesota</option><option value="Mississippi">Mississippi</option><option value="Missouri">Missouri</option><option value="Montana">Montana</option><option value="Nebraska">Nebraska</option><option value="Nevada">Nevada</option><option value="New Hampshire">New Hampshire</option><option value="New Jersey">New Jersey</option><option value="New Mexico">New Mexico</option><option value="New York">New York</option><option value="North Carolina">North Carolina</option><option value="North Dakota">North Dakota</option><option value="Ohio">Ohio</option><option value="Oklahoma">Oklahoma</option><option value="Oregon">Oregon</option><option value="Pennsylvania">Pennsylvania</option><option value="Rhode Island">Rhode Island</option><option value="South Carolina">South Carolina</option><option value="South Dakota">South Dakota</option><option value="Tennessee">Tennessee</option><option value="Texas">Texas</option><option value="Utah">Utah</option><option value="Vermont">Vermont</option><option value="Virginia">Virginia</option><option value="Washington">Washington</option><option value="West Virginia">West Virginia</option><option value="Wisconsin">Wisconsin</option><option value="Wyoming">Wyoming</option>                </select><br>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-4 control-label" align="right">* Zip Code</label>
                      <div class="col-sm-8">
                        <input type="number" name="user[zip_code]" class="form-control" value="" required><br>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-4 control-label" align="right">* Cell Phone</label>
                      <div class="col-sm-8">
                        <input type="text" name="user[phone_number]" class="form-control bfh-phone" data-country="US" required><br>
                      </div>
                    </div>


                    <div class="form-group">
                      <label class="col-sm-4 control-label" align="right">* Email Address</label>
                      <div class="col-sm-8">
                        <input type="email" name="user[email]" class="form-control" required><br>
                        <!-- <span style="color:red;display:none;" class="notavailable">Login ID is not available</span>
                        <span style="color:green;display:none;" class="available">Login ID is available</span><br> -->
                      </div>
                    </div>


                    <div class="form-group">
                      <label class="col-sm-4 control-label" align="right">* Password</label>
                      <div class="col-sm-8">
                        <input id="password" type="password" placeholder="Password" name="user[password]" class="form-control" required><br>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-4 control-label" align="right">* Confirm Password</label>
                      <div class="col-sm-8">
                        <input id="confirm_password" type="password" placeholder="Confirm Password" class="form-control"><br>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-4 control-label" align="right">Must Upload Four Photos</label>
                      <div class="col-sm-8">
                          <%= f.file_field :photo_one, style: "text-indent: 0px", :required => true%><br>
                          <%= f.file_field :photo_two, style: "text-indent: 0px",  :required => true  %><br>
                          <%= f.file_field :photo_three, style: "text-indent: 0px",  :required => true  %><br>
                          <%= f.file_field :photo_four, style: "text-indent: 0px",  :required => true  %><br>
                      </div>
                    </div>
                       <br>

                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" class="btn btn-danger" value="Sign Up" >
                      </div>
                    </div>

                  </div>
                </div>
              <!-- </form> -->
            <% end %>
         </div>
         <div class="e-divider-8"></div>
      </div>
   </section> <!-- /Testmonials Block -->
</div>
