<!-- Content Sections -->
<div id="content">

  <!-- Hero Image -->
   <section id="profile-hero-image">
      <div class="layer"></div>
      <div class="container-fluid hero-wrapper">
        <div class="row text-right">
            <div class="col-md-12 col-xs-11">
               <div class="profile-text">
                  <h2 class="font-accident-two-normal"><%=@user.first_name%> <%=@user.last_name%></h2>
                  <p class="font-accident-two-normal e-uppercase letter-spacing-03">
                     Contact me!
                  </p>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- /Hero Image -->

   <!-- Blog Block -->
   <section id="blog-list" class="padding-side-50">
      <div class="e-divider-8"></div>
      <div class="container">
         <div class="row no-sidebar">

            <!--Content Column-->
            <div class="col-md-11 col-xs-12">
               <div class="row">
                  <article class="post-block col-md-12 post hentry">
                     <div class="post-detail">
                        <h2 class="entry-title"><a href="#!">1</a></h2>
                        <div class="metas">
                           Posted on: <a href="#!" class="meta-date"><%=@user.photo_one_updated_at.to_date%></a>&nbsp;
                        </div>
                     </div>
                     <div class="img-wrap">
                        <a class="fancybox" href=<%=@user.photo_one.url%> >
                          <img class="img-responsive" src=<%=@user.photo_four.url%>  alt="" />
                        </a>
                     </div>
                  </article>
               </div> <!--/row-->
               <div class="e-divider-8"></div>
            </div> <!--/Content Column-->

            <!--Content Column-->
            <div class="grid-item col-md-11 col-xs-12">
               <div class="row">
                  <article class="post-block col-md-12 post hentry">
                     <div class="post-detail">
                        <h2 class="entry-title"><a href="#!">2</a></h2>
                        <div class="metas">
                           Posted on: <a href="#!" class="meta-date"><%=@user.photo_two_updated_at.to_date%></a>&nbsp;
                        </div>
                     </div>
                     <div class="img-wrap">
                        <a class="fancybox" href=<%=@user.photo_two.url%> >
                          <img class="img-responsive" src=<%=@user.photo_two.url%>  alt="" />
                        </a>
                     </div>
                  </article>
               </div> <!--/row-->
               <div class="e-divider-8"></div>
            </div> <!--/Content Column-->

            <!--Content Column-->
            <div class="col-md-11 col-xs-12">
               <div class="row">
                  <article class="post-block col-md-12 post hentry">
                     <div class="post-detail">
                        <h2 class="entry-title"><a href="#!">3</a></h2>
                        <div class="metas">
                           Posted on: <a href="#!" class="meta-date"><%=@user.photo_one_updated_at.to_date%></a>&nbsp;
                        </div>
                     </div>
                     <div class="img-wrap">
                        <a class="fancybox" href=<%=@user.photo_three.url%> >
                          <img class="img-responsive" src=<%=@user.photo_three.url%>  alt="" />
                        </a>
                     </div>
                  </article>
               </div> <!--/row-->
               <div class="e-divider-8"></div>
            </div> <!--/Content Column-->

           <!--Content Column-->
            <div class="col-md-11 col-xs-12">
               <div class="row">
                  <article class="post-block col-md-12 post hentry">
                     <div class="post-detail">
                        <h2 class="entry-title"><a href="#!">4</a></h2>
                        <div class="metas">
                           Posted on: <a href="#!" class="meta-date"><%=@user.photo_four_updated_at.to_date%></a>&nbsp;
                        </div>
                     </div>
                     <div class="img-wrap">
                        <a class="fancybox" href=<%=@user.photo_four.url%> >
                          <img class="img-responsive" src=<%=@user.photo_four.url%>  alt="" />
                        </a>
                     </div>
                  </article>
               </div> <!--/row-->
               <div class="e-divider-8"></div>
            </div> <!--/Content Column-->

            <% if @user.resume_file_size != nil %>
              <!--Content Column-->
              <div class="col-md-11 col-xs-12">
                 <div class="row">
                    <article class="post-block col-md-12 post hentry">
                       <div class="post-detail text-center">
                          <h2 class="entry-title font-accident-one-normal">RESUME</h2>
                          <div class="e-divider-2"></div>
                          <div class="row">
                            <a class="btn btn-danger" href="<%=@user.resume%>" target="_blank"><strong>Click to View</strong></a>
                            <a class="btn btn-danger" href="<%=@user.resume%>" download><strong>Click to Download</strong></a>
                          </div>
                    </article>
                 </div> <!--/row-->
                 <div class="e-divider-8"></div>
              </div> <!--/Content Column-->
            <%end%>

          <div class="row">
         </div>
      </div> <!--/Container-->
   </section> <!-- /Blog Block -->
</div> <!-- /Content Sections -->


<%= javascript_tag do %>
    $(".fancybox").fancybox({
    openEffect  : 'none',
    closeEffect : 'none',
    height   : 400,
    width    :  400
  });
<% end %>
