<!-- Content Sections -->
<div id="content">

   <!-- Blog Block -->
   <section id="blog-list" class="padding-side-50">
      <div class="e-divider-8"></div>
      <div class="container">
         <div class="row no-sidebar">

            <!--Content Column-->
            <div class="col-md-11">
               <div class="row">
                  <article class="post-block col-md-12 post hentry">
                     <div class="post-detail">
                        <h2 class="entry-title"><a href="#!">1</a></h2>
                        <div class="metas">
                           Posted on: <a href="#!" class="meta-date"><%=@user.photo_one_updated_at.to_date%></a>&nbsp;
                        </div>
                     </div>
                     <div class="img-wrap">
                        <a class="fancybox" href=<%=@user.photo_one.url%> >
                          <img class="img-responsive" src=<%=@user.photo_four.url%>  alt="" />
                        </a>
                     </div>
                  </article>
               </div> <!--/row-->
               <div class="e-divider-8"></div>
            </div> <!--/Content Column-->

            <!--Content Column-->
            <div class="grid-item col-md-11">
               <div class="row">
                  <article class="post-block col-md-12 post hentry">
                     <div class="post-detail">
                        <h2 class="entry-title"><a href="#!">2</a></h2>
                        <div class="metas">
                           Posted on: <a href="#!" class="meta-date"><%=@user.photo_two_updated_at.to_date%></a>&nbsp;
                        </div>
                     </div>
                     <div class="img-wrap">
                        <a class="fancybox" href=<%=@user.photo_two.url%> >
                          <img class="img-responsive" src=<%=@user.photo_three.url%>  alt="" />
                        </a>
                     </div>
                  </article>
               </div> <!--/row-->
               <div class="e-divider-8"></div>
            </div> <!--/Content Column-->

            <!--Content Column-->
            <div class="col-md-11">
               <div class="row">
                  <article class="post-block col-md-12 post hentry">
                     <div class="post-detail">
                        <h2 class="entry-title"><a href="#!">3</a></h2>
                        <div class="metas">
                           Posted on: <a href="#!" class="meta-date"><%=@user.photo_one_updated_at.to_date%></a>&nbsp;
                        </div>
                     </div>
                     <div class="img-wrap">
                        <a class="fancybox" href=<%=@user.photo_three.url%> >
                          <img class="img-responsive" src=<%=@user.photo_three.url%>  alt="" />
                        </a>
                     </div>
                  </article>
               </div> <!--/row-->
               <div class="e-divider-8"></div>
            </div> <!--/Content Column-->

           <!--Content Column-->
            <div class="col-md-11">
               <div class="row">
                  <article class="post-block col-md-12 post hentry">
                     <div class="post-detail">
                        <h2 class="entry-title"><a href="#!">4</a></h2>
                        <div class="metas">
                           Posted on: <a href="#!" class="meta-date"><%=@user.photo_four_updated_at.to_date%></a>&nbsp;
                        </div>
                     </div>
                     <div class="img-wrap">
                        <a class="fancybox" href=<%=@user.photo_four.url%> >
                          <img class="img-responsive" src=<%=@user.photo_four.url%>  alt="" />
                        </a>
                     </div>
                  </article>
               </div> <!--/row-->
               <div class="e-divider-8"></div>
            </div> <!--/Content Column-->

          <div class="row">
         </div>
      </div> <!--/Container-->
   </section> <!-- /Blog Block -->
</div> <!-- /Content Sections -->


<%= javascript_tag do %>
    $(".fancybox").fancybox({
    openEffect  : 'none',
    closeEffect : 'none',
    minHeight   : 500,
    minWidth    :  500,
    maxHeight   : 700,
    maxWidth    :  700
  });
<% end %>
