<!-- Content Sections -->
<div id="content">

   <!-- Hero Image -->
   <section id="blog-hero-image">
      <div class="layer"></div>
      <div class="container-fluid hero-wrapper">
         <div class="row text-right">
            <div class="col-md-12">
               <div class="hero-text">
                  <h2 class="font-accident-two-normal"><%= @user.first_name %> <%= @user.last_name[0] %></h2>
                  <p class="font-accident-two-normal e-uppercase letter-spacing-03">
                     Profile page!
                  </p>
               </div>
            </div>
         </div>
      </div>
   </section> <!-- /Hero Image -->

   <!-- Blog Block -->
   <section id="blog-list" class="padding-side-50">
      <div class="e-divider-8"></div>
      <div class="container">
         <div class="row no-sidebar">
            <!--Content Column-->
            <div class="col-md-12">
               <div class="row">
                  <article id="01" class="post-block col-md-12 post hentry">
                     <div class="post-detail">
                        <h2 class="entry-title"><a href="#!">1</a></h2>
                        <div class="metas">
                           Posted on: <a href="#!" class="meta-date"><%=@user.photo_one_updated_at.to_date%></a>&nbsp;
                        </div>
                     </div>
                     <div class="img-wrap">
                        <a href="#!" class="popup-modal">
                           <img class="img-responsive" src=<%=@user.photo_one.url%> alt="">
                        </a>
                     </div>
                  </article>
               </div> <!--/row-->
               <div class="e-divider-8"></div>
            </div> <!--/Content Column-->


            <!--Content Column-->
            <div class="col-md-12">
               <div class="row">
                  <article id="02" class="post-block col-md-12 post hentry">
                    <div class="post-detail">
                        <h2 class="entry-title"><a href="#!">2</a></h2>
                        <div class="metas">
                           Posted on: <a href="#!" class="meta-date"><%=@user.photo_two_updated_at.to_date%></a>&nbsp;
                        </div>
                     </div>
                     <div class="img-wrap">
                           <!-- Trigger the Modal -->
                          <img id="myImg" src=<%=@user.photo_two.url%> alt="Trolltunga, Norway" width="300" height="200">

                          <!-- The Modal -->
                          <div id="myModal" class="modal">

                            <!-- The Close Button -->
                            <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>

                            <!-- Modal Content (The Image) -->
                            <img class="modal-content" id="img01">

                            <!-- Modal Caption (Image Text) -->
                            <div id="caption"></div>
                          </div>
                     </div>
                  </article>
               </div> <!--/row-->
               <div class="e-divider-8"></div>
            </div> <!--/Content Column-->

            <!--Content Column-->
            <div class="col-md-12">
               <div class="row">
                  <article id="03" class="post-block col-md-12 post hentry">
                     <div class="post-detail">
                        <h2 class="entry-title"><a href="#">3</a></h2>
                        <div class="metas">
                           Posted on: <a href="#!" class="meta-date"><%=@user.photo_three_updated_at.to_date%></a>&nbsp;
                        </div>
                     </div>
                     <div class="img-wrap">
                        <a href="blogpost.html">
                           <img class="img-responsive" src=<%=@user.photo_three.url%> alt="">
                        </a>
                     </div>
                  </article>
               </div> <!--/row-->
               <div class="e-divider-8"></div>
            </div> <!--/Content Column-->

            <!--Content Column-->
            <div class="col-md-12">
               <div class="row">
                  <article id="04" class="post-block col-md-12 post hentry">
                     <div class="post-detail">
                        <h2 class="entry-title"><a href="#">4</a></h2>
                        <div class="metas">
                           Posted on: <a href="#!" class="meta-date"><%=@user.photo_four_updated_at.to_date%></a>&nbsp;
                        </div>
                     </div>
                     <div class="img-wrap">
                        <a href="blogpost.html">
                           <img class="img-responsive" src=<%=@user.photo_four.url%> alt="">
                        </a>
                     </div>
                  </article>
               </div> <!--/row-->
               <div class="e-divider-8"></div>
            </div> <!--/Content Column-->
            <div class="row">


         </div>
      </div> <!--/Container-->
    <div class="offset-md-2 col-md-8">
        <div class="row">
            <a href="https://unsplash.it/1200/768.jpg?image=251" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                <img src="https://unsplash.it/600.jpg?image=251" class="img-fluid">
            </a>
            <a href="https://unsplash.it/1200/768.jpg?image=252" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                <img src="https://unsplash.it/600.jpg?image=252" class="img-fluid">
            </a>
            <a href="https://unsplash.it/1200/768.jpg?image=253" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                <img src="https://unsplash.it/600.jpg?image=253" class="img-fluid">
            </a>
        </div>
        <div class="row">
            <a href="https://unsplash.it/1200/768.jpg?image=254" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                <img src="https://unsplash.it/600.jpg?image=254" class="img-fluid">
            </a>
            <a href="https://unsplash.it/1200/768.jpg?image=255" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                <img src="https://unsplash.it/600.jpg?image=255" class="img-fluid">
            </a>
            <a href="https://unsplash.it/1200/768.jpg?image=256" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                <img src="https://unsplash.it/600.jpg?image=256" class="img-fluid">
            </a>
        </div>
    </div>
</div>


   </section> <!-- /Blog Block -->

</div> <!-- /Content Sections -->
