<% if session[:user_id] != @user.id %>
    <script type="text/javascript">
      window.location.href="/";
    </script>
<% end %>

<section id="port-item-details">
  <div class="container-fluid padding-side-60">
     <div class="e-divider-8"></div>
     <div class="post-header">
        <h3 class="e-uppercase"><%= @user.first_name %> <%= @user.last_name %></h3>
        <div class="e-divider-2">
          <div class="meta-cat">
            <%= link_to 'Edit Profile Info', edit_user_path(@user), method: :get %> /
            <%= link_to 'Edit Login Info', edit_login_path(@user), method: :get %>
          </div>
        </div>
     </div>
     <div class="e-divider-4"></div>
     <div class="row">
        <div class="col-md-4 col-xs-4">
          <div class="grid-item">
            <img src=<%=@user.photo_one.url%> class="img-responsive">
          </div>
           <div class="e-divider-4"></div>
           <ul class="jobinfo">
              <li>Date of Birth: <span><%= @user.dob %></span></li>
              <li>Age: <span><%= @user.age %></span></li>
              <li>Phone Number: <span><%= @user.phone_number %></span></li>
              <li>Height: <span><%= @user.height %></span></li>
           </ul>
            <% if @user.resume_file_size != nil %>
              <h3 class="font-accident-two-normal e-uppercase center-text">
                <i class="pe-7s-id"></i>
                Resume
              </h3>
               <div class="e-divider-2"></div>
                 <iframe src=<%=@user.resume%> style="height:35em;" frameborder="0"></iframe>
                  <div class="col-sm-offset-1">
                    <a class="btn btn-danger view-pdf" target="_blank" href="<%=@user.resume%>">View Resume</a>
                    <%= link_to 'Delete Resume', delete_file_path, method: :get, class: "btn btn-danger view-pdf" %>
                  </div>
            <% else %>
                <div class="e-divider-4"></div>
                <%= form_for(@user, multipart: true) do |f| %>
                <h3 class="font-accident-two-normal e-uppercase center-text">
                  <i class="pe-7s-id"></i>
                  Upload New Resume
                </h3>
                  <div class="form-group">
                    <div class="col-sm-16">
                      <%= f.file_field :resume, style: "text-indent: 0px" %>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">
                      <%= f.submit 'Upload', class: "btn btn-danger" %>
                    </div>
                  </div>
                <% end %>
            <% end %>
        </div>

        <div class="col-md-1"></div> <!-- Divider -->

        <div class="col-md-7 col-xs-8">
           <div class="e-divider-4"></div>
           <div class="row">
              <div class="col-md-3 col-sm-3 center-text">
                 <i class="pe-7s-mail"></i>
                 <h4 class="font-accident-two-normal e-uppercase"> E-mail</h4>
                 <div class="e-divider-1"></div>
                 <p>
                    <%= @user.email %>
                 </p>
                 <div class="e-divider-4"></div>
              </div>
              <div class="col-md-3 col-sm-3 center-text">
                 <i class="pe-7s-id"></i>
                 <h4 class="font-accident-two-normal e-uppercase"> Username</h4>
                 <div class="e-divider-1"></div>
                 <p>
                    <%= @user.username %>
                 </p>
                 <div class="e-divider-4"></div>
              </div>
              <div class="col-md-3 col-sm-3 center-text">
                 <i class="pe-7s-home"></i>
                 <h4 class="font-accident-two-normal e-uppercase">Address</h4>
                 <div class="e-divider-1"></div>
                 <p>
                    <%= @user.address %>
                 </p>
                 <p>
                    <%= @user.city %>, <%= @user.state %>   <%= @user.zip_code%>
                 </p>
                 <div class="e-divider-4"></div>
              </div>
              <div class="col-md-3 col-sm-3 center-text">
                 <i class="pe-7s-global"></i>
                 <h4 class="font-accident-two-normal e-uppercase">Personal Website</h4>
                 <div class="e-divider-1"></div>
                 <p>
                    <%= @user.website %>
                 </p>
                 <div class="e-divider-4"></div>
              </div>
           </div>

           <div class="row">
              <div class="col-md-3 col-sm-3 center-text">
                 <h4 class="font-accident-two-normal e-uppercase">Shirt Size</h4>
                 <div class="e-divider-1"></div>
                 <p><%= @user.shirt_size %></p>
                 <div class="e-divider-4"></div>
              </div>
              <div class="col-md-3 col-sm-3 center-text">
                 <h4 class="font-accident-two-normal e-uppercase">Dress Size</h4>
                 <div class="e-divider-1"></div>
                 <p><%= @user.dress_size %>
                 </p>
                 <div class="e-divider-4"></div>
              </div>
              <div class="col-md-3 col-sm-3 center-text">
                 <h4 class="font-accident-two-normal e-uppercase">Pant Size</h4>
                 <div class="e-divider-1"></div>
                 <p><%= @user.pant_size %></p>
                 <div class="e-divider-4"></div>
              </div>
              <div class="col-md-3 col-sm-3 center-text">
                 <h4 class="font-accident-two-normal e-uppercase">Shoe Size</h4>
                 <div class="e-divider-1"></div>
                 <p><%= @user.shoe_size %></p>
                 <div class="e-divider-4"></div>
              </div>
           </div>
           <div class="center-text">
             <i class="pe-7s-photo"></i>
             <h3 class="font-accident-two-normal e-uppercase">Photos</h3>
             <div class="e-divider-2"></div>
             <%= form_for(@user, multipart: true) do |f| %>
                <%= @user.errors.full_messages.first if @user.errors.any? %>
               <a class="thumbnail" href=<%=@user.photo_one.url%> target="_blank">
                 <img src=<%=@user.photo_one.url%> class="img-responsive">
               </a>
               <%= f.file_field :photo_one, style: "text-indent: 0px"%><br>
               <div class="form-group">
                  <div class="col-sm-5">
                    <input type="submit" class="btn btn-danger" value="Change Profile Picture">
                  </div>
                </div>
                <div class="e-divider-4"></div>

               <a class="thumbnail" href=<%=@user.photo_two.url%> target="_blank">
                 <img src=<%=@user.photo_two.url%> class="img-responsive">
               </a>
               <%= f.file_field :photo_two, style: "text-indent: 0px"%><br>
               <div class="form-group">
                  <div class="col-sm-5">
                    <input type="submit" class="btn btn-danger" value="Change Second Picture">
                  </div>
                </div>
                <div class="e-divider-4"></div>

               <a class="thumbnail" href=<%=@user.photo_three.url%> target="_blank">
                 <img src=<%=@user.photo_three.url%> class="img-responsive">
               </a>
               <%= f.file_field :photo_three, style: "text-indent: 0px"%><br>
               <div class="form-group">
                  <div class="col-sm-5">
                    <input type="submit" class="btn btn-danger" value="Change Third Picture">
                  </div>
                </div>
                <div class="e-divider-4"></div>

               <a class="thumbnail" href=<%=@user.photo_four.url%> target="_blank">
                 <img src=<%=@user.photo_four.url%> class="img-responsive">
               </a>
               <%= f.file_field :photo_four, style: "text-indent: 0px"%><br>
               <div class="form-group">
                  <div class="col-sm-5">
                    <input type="submit" class="btn btn-danger" value="Change Fourth Picture">
                  </div>
                </div>
             <% end %>

          </div>
        </div>
     </div>

     <div class="e-divider-20"></div>
     <div class="e-divider-4"></div>

  </div>
</section>
