<section id="port-item-details">
  <div class="container-fluid padding-side-60">

     <div class="e-divider-8"></div>
     <div class="post-header">
        <h2 class="e-uppercase"><%= @user.first_name %> <%= @user.last_name %></h2>
        <div class="e-divider-2"></div>
     </div>
     <div class="e-divider-4"></div>
     <div class="row">
        <div class="col-md-4">
           <img src="/imgs/random-girl.png" class="img-responsive">
           <div class="e-divider-4"></div>
           <ul class="jobinfo">
              <li>Date of Birth: <span><%= @user.dob %></span></li>
              <li>Phone Number: <span><%= @user.phone_number %></span></li>
              <li>Personal Website: <span><%= @user.website %></span></li>
              <li>Height: <span><%= @user.height %></span></li>
           </ul>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-7">
           <h3 class="font-accident-two-normal e-uppercase">Overview</h3>
           <div class="e-divider-2"></div>
           <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
              when an unknown printer took a galley of type and scrambled it to make a type
              specimen book. It has survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was popularised in
              the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
              and more recently with desktop publishing software like Aldus PageMaker including
              versions of Lorem Ipsum.
           </p>

           <div class="e-divider-4"></div>

           <div class="row">
              <div class="col-md-4">
                 <i class="pe-7s-target"></i>
                 <h4 class="font-accident-two-normal e-uppercase">Details</h4>
                 <div class="e-divider-1"></div>
                 <p class="small">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown
                 </p>
                 <div class="e-divider-4"></div>
              </div>
              <div class="col-md-4">
                 <i class="pe-7s-science"></i>
                 <h4 class="font-accident-two-normal e-uppercase">Misc</h4>
                 <div class="e-divider-1"></div>
                 <p class="small">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown
                 </p>
                 <div class="e-divider-4"></div>
              </div>
              <div class="col-md-4">
                 <i class="pe-7s-target"></i>
                 <h4 class="font-accident-two-normal e-uppercase">Details</h4>
                 <div class="e-divider-1"></div>
                 <p class="small">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown
                 </p>
                 <div class="e-divider-4"></div>
              </div>
           </div>

           <div class="row">
              <div class="col-md-3">
                 <h4 class="font-accident-two-normal e-uppercase">Information</h4>
                 <div class="e-divider-1"></div>
                 <p class="small">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard
                 </p>
                 <div class="e-divider-4"></div>
              </div>
              <div class="col-md-3">
                 <h4 class="font-accident-two-normal e-uppercase">Stuff</h4>
                 <div class="e-divider-1"></div>
                 <p class="small">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard
                 </p>
                 <div class="e-divider-4"></div>
              </div>
              <div class="col-md-3">
                 <h4 class="font-accident-two-normal e-uppercase">Details</h4>
                 <div class="e-divider-1"></div>
                 <p class="small">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard
                 </p>
                 <div class="e-divider-4"></div>
              </div>
              <div class="col-md-3">
                 <h4 class="font-accident-two-normal e-uppercase">Stuff</h4>
                 <div class="e-divider-1"></div>
                 <p class="small">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard
                 </p>
                 <div class="e-divider-4"></div>
              </div>
           </div>

        </div>
     </div>

     <div class="e-divider-20"></div>

     <div class="e-divider-4"></div>

  </div>
</section>



<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
