<section id="port-item-details">
  <div class="container-fluid padding-side-60">

     <div class="e-divider-8"></div>
     <div class="post-header">
        <h2 class="e-uppercase"><%= @user.first_name %> <%= @user.last_name %></h2>
        <div class="e-divider-2">
          <div class="meta-cat">
            <%= link_to 'Edit Profile Info', edit_user_path(@user), method: :get %>
          </div>
        </div>
     </div>
     <div class="e-divider-4"></div>
     <div class="row">
        <div class="col-md-4">
          <div class="grid-item">
            <img src=<%=@user.photo_one.url%> class="img-responsive">
          </div>
           <div class="e-divider-4"></div>
           <ul class="jobinfo">
              <li>Date of Birth: <span><%= @user.dob %></span></li>
              <li>Age: <span><%= @user.age %></span></li>
              <li>Phone Number: <span><%= @user.phone_number %></span></li>
              <li>Height: <span><%= @user.height %></span></li>
           </ul>
          <h3 class="font-accident-two-normal e-uppercase center-text">
            <i class="pe-7s-id"></i>
            Resume
          </h3>
           <div class="e-divider-2"></div>
            <embed src=<%=@user.resume%> style="width:100%; height:100%">
              <% if @user.resume_file_size != nil %>
                <a class="btn btn-danger view-pdf" target="_blank" href="<%=@user.resume%>">View Resume</a>
              <% end %>

        </div>
        <div class="col-md-1"></div>
        <div class="col-md-7">

           <div class="e-divider-4"></div>
           <div class="row">
              <div class="col-md-4 center-text">
                 <i class="pe-7s-mail"></i>
                 <h4 class="font-accident-two-normal e-uppercase"> E-mail</h4>
                 <div class="e-divider-1"></div>
                 <p>
                    <%= @user.email %>
                 </p>
                 <div class="e-divider-4"></div>
              </div>
              <div class="col-md-4 center-text">
                 <i class="pe-7s-home"></i>
                 <h4 class="font-accident-two-normal e-uppercase">Address</h4>
                 <div class="e-divider-1"></div>
                 <p>
                    <%= @user.address %>
                 </p>
                 <p>
                    <%= @user.city %>, <%= @user.state %>   <%= @user.zip_code%>
                 </p>
                 <div class="e-divider-4"></div>
              </div>
              <div class="col-md-4 center-text">
                 <i class="pe-7s-global"></i>
                 <h4 class="font-accident-two-normal e-uppercase">Personal Website</h4>
                 <div class="e-divider-1"></div>
                 <p>
                    <%= @user.website %>
                 </p>
                 <div class="e-divider-4"></div>
              </div>
           </div>

           <div class="row">
              <div class="col-md-3">
                 <h4 class="font-accident-two-normal e-uppercase">Shirt Size</h4>
                 <div class="e-divider-1"></div>
                 <p>
                    <%= @user.shirt_size %>
                 </p>
                 <div class="e-divider-4"></div>
              </div>
              <div class="col-md-3">
                 <h4 class="font-accident-two-normal e-uppercase">Dress Size</h4>
                 <div class="e-divider-1"></div>
                 <p>
                    <%= @user.dress_size %>
                 </p>
                 <div class="e-divider-4"></div>
              </div>
              <div class="col-md-3">
                 <h4 class="font-accident-two-normal e-uppercase">Pant Size</h4>
                 <div class="e-divider-1"></div>
                 <p>
                    <%= @user.pant_size %>
                 </p>
                 <div class="e-divider-4"></div>
              </div>
              <div class="col-md-3">
                 <h4 class="font-accident-two-normal e-uppercase">Shoe Size</h4>
                 <div class="e-divider-1"></div>
                 <p>
                    <%= @user.shoe_size %>
                 </p>
                 <div class="e-divider-4"></div>
              </div>
           </div>
           <div class="center-text">
             <i class="pe-7s-photo"></i>
             <h3 class="font-accident-two-normal e-uppercase">Photos</h3>
             <div class="e-divider-2"></div>
             <a class="thumbnail" href=<%=@user.photo_one.url%> target="_blank">
               <img src=<%=@user.photo_one.url%> class="img-responsive">
             </a>
             <a class="thumbnail" href=<%=@user.photo_one.url%> target="_blank">
               <img src=<%=@user.photo_two.url%> class="img-responsive">
             </a>
             <a class="thumbnail" href=<%=@user.photo_one.url%> target="_blank">
               <img src=<%=@user.photo_three.url%> class="img-responsive">
             </a>
             <a class="thumbnail" href=<%=@user.photo_one.url%> target="_blank">
               <img src=<%=@user.photo_four.url%> class="img-responsive">
             </a>
          </div>
        </div>
     </div>

     <div class="e-divider-20"></div>

     <div class="e-divider-4"></div>

  </div>
</section>
